<% provide(:title, "Edit #{@piece.title}") %>

<h1>Editing Piece <%= @piece.title %></h1>
<p>Starred fields are required.</p>

<%=	 %>

<%= link_to "Go Back", piece_path(@piece), :class => "btn btn-default" %>
<%= link_to "Return to Library", pieces_path, :class => "btn btn-default" %>