<footer class="footer">
	<p><small>&copy;2014 <a href="http://bluecrowconsulting.com">Blue Crow Consulting</a></small></p>
		<nav role="navigation">
			<ul>
          <%= render "layouts/main_menu" %>
      		</ul>
        </nav>
</footer>