<footer class="footer">
	<p><small>&copy;2014 <a href="http://bluecrowconsulting.com">Blue Crow Consulting</a></small></p>
		<nav role="navigation">
          <ul>
            <li><%= link_to "Home", "/"%></li>
			<li><%= link_to "About", "about"%></li>
			<li><%= link_to "Help", "help"%></li>
          </ul>
        </nav>
</footer>